.edit-room-container {
  max-width: 600px;
  margin: 30px auto;
  margin-bottom: 100px;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.edit-room-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.error-message {
  color: red;
  text-align: center;
}

.success-message {
  color: green;
  text-align: center;
}

.edit-room-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 6px;
  font-weight: 600;
}

.room-photo-preview {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 10px;
  border: 2px solid #4ade80;
  align-self: center;
}

input[type="file"] {
  cursor: pointer;
}

select,
input[type="text"],
textarea {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  font-family: inherit;
  resize: vertical;
}

.update-button {
  background-color: #22c55e;
  color: white;
  padding: 12px 0;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 30px auto;
  margin-top: 10px ;
}

.update-button:hover {
  background-color: #16a34a;
}
