.edit-room-container {
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  background: #ffffffdd;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.edit-room-form .form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-weight: 600;
  margin-bottom: 5px;
  display: block;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.room-photo,
.room-photo-preview {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 8px;
}

.update-button,
.delete-button {
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
  font-weight: bold;
}
.update-button ,
.delete-button{
  background-color: #22c55e;
  color: white;
  padding: 12px 0;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 30px auto;
  margin-top: 10px ;
}


.delete-button {
  background-color: #ef4444;
  color: white;
}

.error-message {
  color: red;
  font-weight: bold;
}

.success-message {
  color: green;
  font-weight: bold;
}
